/***************/
/* MEYER RESET */
/***************/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/*16px*/
body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
  font-weight: 600;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.333rem;
  line-height: 1.45;
}

small, .text_small {
  font-size: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 3rem;
}

header {
  position: fixed;
  z-index: 10;
}

section.products .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin-bottom: 4rem;
}

.product img {
  width: 100%;
  margin-top: 10rem;
}

.product .info {
  background-color: #505457;
  color: white;
  padding: 1rem;
}

section.contact {
  background-color: #505457;
  color: white;
  height: 100vh;
}

section.contact .container {
  padding-top: 14rem;
  display: grid;
  grid-gap: 5rem;
}

section.contact .images, section.contact article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

section.contact .images img {
  justify-self: center;
}

section.contact article {
  grid-template-columns: 1fr 1fr 1fr;
}

section.intro, section#about {
  background-image: linear-gradient(rgba(4, 19, 20, 0.7), rgba(4, 9, 20, 0.7)), url(/images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  color: white;
}

section.intro .content, section#about .content {
  position: relative;
  z-index: 1;
}

section.intro .content h1, section#about .content h1 {
  text-align: center;
  transform: translate(0%, -50%);
}

section.intro .content h5, section#about .content h5 {
  text-align: left;
  padding: 4.625rem 2.25rem;
}

section#about {
  background: black;
  overflow: hidden;
}

section#about #myVideo {
  position: absolute;
  filter: brightness(30%);
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
}

nav {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 10;
}

nav img {
  height: 6rem;
  width: 6rem;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  display: inline-block;
  padding: 1rem 6rem;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.product-nav .nav-links ul li a {
  color: #111;
}

.product-nav .nav-links ul li::after, .product-nav .menu-trigger div {
  background: #111;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.menu-trigger {
  width: 1.5rem;
  height: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 10;
}

.menu-trigger div {
  background: white;
  height: 2px;
}

@media (max-width: 960px) {
  header {
    width: 100%;
  }
  .nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .nav-links ul li {
    display: initial;
    padding: 0;
  }
}

@media (min-width: 701px) {
  .menu-trigger {
    display: none;
  }
}

@media (max-width: 700px) {
  h1 {
    margin-top: 0;
    font-size: 3.209rem;
    font-weight: 600;
  }
  h2 {
    font-size: 2.157rem;
  }
  h3 {
    font-size: 1.369rem;
  }
  h4 {
    font-size: 0.777rem;
  }
  h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.333rem;
    line-height: 1.45;
  }
  nav {
    padding: .625rem;
  }
  nav .nav-links ul {
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    padding-top: 8rem;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
  nav .nav-links ul.open {
    visibility: visible;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */